# =========================
# VIRTUAL ENVIRONMENT
# =========================
venv/
env/
.venv/

# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# JUPYTER NOTEBOOKS
# =========================
.ipynb_checkpoints/

# =========================
# SYSTEM FILES
# =========================
.DS_Store
Thumbs.db



# =========================
# POWER BI FILES (YOU REQUESTED)
# =========================
powerbi/Retail_Inventory_Analytics.pbix
executive_dashboard.pbix

# =========================
# LOG FILES
# =========================
*.log

# =========================
# ENV FILES (SECURITY)
# =========================
.env

# =========================
# IDE / EDITORS
# =========================
.vscode/
.idea/

# =========================
# DISTRIBUTION / BUILD
# =========================
dist/
build/
*.egg-info/